.box1{
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: 2px solid #F1E5BC;
    padding: 20px;
}
.tweeet{
    text-align: center;
    font-weight: bolder;
    color: #CB8B4B;
}
.messsss{
    font-size: 2rem;
}
.extra-Details{
    text-align: right;
}
.atat{
    text-align: right;
}
.postee{
    color: #FA9A45;
}
.btnss{
    display: flex;
}
.btnss button {
        background: #e7f8fe;
        width: 30%;
        height: 3rem;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 1rem;
        margin-right: 10px;
}
.btnss button:hover{
    background: #D3E4EB;
}
.mainVideo{
    height: 100vh;
    width: 100vw;
}
.mainVideo1{
    position: absolute;
    display: flex;
    top: 0;
}
.mainVideo2{
    height: 100vh;
    width: 45vw;
}
.mainVideo3{
    height: 100vh;
    width: 10vw;
}
.mainVideo4{
    height: 100vh;
    width: 45vw;
}


progress[value] {
    width: 100%;
    appearance: none;   
    background-color: #eee;
    border: none;
    border-radius: 5px;
   }
   progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
   }
   progress[value]::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 5px;
   }
   progress[value]::-moz-progress-bar {
    background-color: #4caf50;
    border-radius: 5px;
   }